.contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1em 1.5em;
    gap: 0.5em;
    background-color: var(--white);
}

.contact__title {
    font-size: 18px;
    font-weight: 500;
}

.contact__text {
    width: 90%;   
    font-weight: 400;
}

.contact__title,
.contact__text {
    padding-bottom: 6px;
    line-height: 1.5em;
    background-color: var(--blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contact__email {
    display: flex;
    padding: 1em;
    border-radius: 24px;
    color: var(--blue);
    user-select: none;
}

.contact__email::placeholder {
    display: flex;
    color: var(--blue);
    background: url("../assets/images/ButtonsMenu/Email.svg") no-repeat;
    background-position: 1em;
    padding: 3.25em;
    text-align: left;
    justify-content: center;
    align-self: center;
    font-family: var(--text-font);
    font-size: 16px;
}



/* ===================================== MEDIA QUERIES ===================================== */
@media screen and (max-width: 428px) {
    
}
@media screen and (max-width: 1024px) {
    
}
@media screen and (max-width: 1728px) {
    
} 