header {
    transition: 0ms !important;
}

.head {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.head__expansive-menu {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("../assets/images/ButtonsMenu/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.head__expansive-menu:hover {
    cursor: pointer;
}

.container {
    display: flex;
    align-items: center;
    padding: 0.7em;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.container__icon {
    padding: 1em;
}

.menu-list, .container__chk {
    display: none;
}

.container__chk:checked ~ .menu-list{
    display: block;
}

.menu-list {
    position: absolute;
    top: 100%;
    left: 0;
    transition-duration: 400ms;
    transition-delay: 0ms;
    transition-timing-function: ease;
    width: 60vw;
    z-index: 999;
}

ul, li, td, tr, a {
    text-decoration: none;
    list-style-type: none;
}

.menu-list__title, .menu-list__item {
    padding: 1em;
    background-color: var(--white);
    font-weight: 500;
    font-size: var(--main-text-size);
}

.menu-list__item:hover {
    background-color: var(--orange);
}

.menu-list__title {
    color: #EB9B00;
    font-size: var(--main-text-size);
    background-color: var(--list-background);
    font-family: var(--text-font);
    font-weight: 700;
}

.menu-list__link {
    background: var(--gradient-background);
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
}

.container__title {
    display: none;
}

.options {
    display: none;
}

.container__icon__display-schedule {
    display: block;
}

.container__display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container__display-text {
    display: none;
}

/* ===================================== MEDIA QUERIES ===================================== */

@media screen and (min-width: 1024px) {
    
    .head__expansive-menu {
        display: none;
    }

    .container__title, 
    .container__title-bold {
        font-family: var(--logo-font);
        font-size: 30px;
    }
    
    .container__title {
        font-weight: 400;
        display: block;
    }
    
    .container__title-bold {
        font-weight: 700;
    }    

    .options {
        display: flex;
    }

    .options__item {
        padding: 1em;
        text-transform: uppercase;
    }

    .options__item:hover {
        cursor: pointer;
    }

    .options__link {
        text-decoration: none;
        color: inherit;
    }

    .container__icon__display-schedule {
        display: none;
    }
    
    .options__menu-list {
        position: relative;
    }

    .options__menu-list, .options__menu {
        display: none;
    }

    .options__menu:checked ~ .options__menu-list {
        position: absolute;
        top: 70%;
        z-index: 999;
        width: auto;
        display: block;
    }

    #menu-tablet:checked ~ .options__item-category {
        background: var(--gradient-background);
        color: #fff;
        transition: ease-out 200ms;
    }
    
    .menu-list__item:hover {
        background-color: var(--blue);
        transition: ease 300ms;
    }

    .menu-list__item:hover .menu-list__link {
        color: #fff;
    }

}

@media screen and (min-width: 1728px) {
    
    .container__display {
        padding: 0 1em 0 1em;
    }

    .container__display-text {
        display: block;
    }

} 