@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* Importar estilos */
@import url("header.css");
@import url("banner.css");
@import url("carousel.css");
@import url("topics.css");
@import url("contact.css");
@import url("footer.css");

/*
    FONTS:
    ==================================================
    font-family: "Poppins", sans-serif;
    font-family: "Josefin Sans", sans-serif;
*/

:root {
    /* FONTS */
    --text-font: "Poppins", sans-serif;
    --logo-font: "Josefin Sans", sans-serif;
    --main-text-size: 1em;
    --profile-text-size: 1.25em;

    /* COLORS */
    --background: #EBECEEFF;
    --list-background: #454546FF;
    --foreground: #141311FF;
    --gradient-background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --white: #FFFFFFFF;
    --orange: #EB9B00FF;
    --blue: #002F52FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: ease-in-out 200ms;
}

body {
    background-color: var(--background);
    font-family: var(--text-font);
    font-size: var(--main-text-size);
    user-select: none;
    pointer-events: stroke;
}

ul, li, tr, td, span, a, dd, dt, dl, p {
    user-select: auto;
    pointer-events: stroke;
}



/* ===================================== MEDIA QUERIES ===================================== */
@media screen and (max-width: 428px) {
    
}
@media screen and (max-width: 1024px) {
    
}
@media screen and (max-width: 1728px) {
    
} 