.topics {
    background: var(--gradient-background);
    text-align: center;
    padding: 1em 1.5em;
}

.topics__title {
    color: var(--white);
    font-weight: 300;
    padding: 0.5em 0 1.5em 0;
}

.topics__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topics__item {
    margin: 1.5em 0.5em;
}

.topics__link {
    color: var(--white);
    padding: 1em;
    background-color: var(--orange);
    font-size: 14px;
    font-weight: 700;
}



/* ===================================== MEDIA QUERIES ===================================== */
@media screen and (min-width: 1024px) {
    .topics__title {
        font-size: 1.5em;
    }
    
    .topics__item {
        margin: 3em 1em;
    }

    .topics__link {
        font-size: 24px;
        padding: 1.2em;
    }
}
@media screen and (min-width: 1728px) {

    .topics {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .topics__title {
        font-size: 2em;
        padding: 2em 0 1.5em 0;
    }
    
    .topics__item {
        margin: 3em 1.0em;
    }

    .topics__link {
        font-size: 24px;
        padding: 1.2em;
    }
    .topics__list {
        width: 50%;
    }
} 